* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gainsboro;
}

@media (min-width: 1440px) {
    .wrapper {
        width: 1440px;
        margin: 0 auto 0 auto;
    }
}

@media (max-width:1440px) {
    .wrapper {
        width: 100vw;
    }

    p {
        font-size: 16px;
    }

}

@media (max-width:950px) {
    p {
        font-size: 14px;
    }

    div.information {
        padding: 0px 5px 0px 0px
    }

    div.description {
        padding: 0px 0px 0px 5px
    }

    header h1.h1-header {
        font-size: 90px;
        line-height: 110px;
    }

    header h2.h2-header {
        font-size: 30px;
        line-height: 42px;
    }

    header.socialmedia {
        font-size: 24px
    }

    section.info h3 {
        font-size: 15px;
    }

    section.info p {
        font-size: 15px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: Raleway;
}

/* navbar */

.navbar {
    display: flex;
    margin: 2% 10% 5px 10%;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
    font-weight: bold;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li a {
    margin: 0 20px 0 20px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: rgb(124, 118, 118);
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
}

.logo i {
    font-family: 'Font Awesome 5 Free';
    font-size: 32px;
    vertical-align: -5px;
    padding-right: 10px;
    color: black;
}

div.logo {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.15em;
    color: rgb(80, 80, 80)
}


/* header */
header {
    display: block;
    width: 100%;
    height: 550px;
    background-image: url("img/notebook-1280538_1920.jpg");
    background-size: cover;
    font-weight: bold;
    position: relative;
}

.h1-header {
    font-size: 110px;
    line-height: 130px;
    text-align: center;
    letter-spacing: 0.02em;
    position: absolute;
    top: 25%;
    left: 20%;
    color: rgb(255, 185, 0);
    animation: heading;
    animation-duration: 3s;
}

.h2-header {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: absolute;
    left: 22%;
    top: 46%;
    /* opacity:0; */
    animation: heading;
    animation-duration: 5s
}

@keyframes heading {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.socialmedia {
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    top: 58%;
    left: 23%;
    font-size: 32px;
    animation: socialmedia;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}

@keyframes socialmedia {
    0% {
        top: 100%;
        opacity: 0;
    }

    100% {
        top: 58%;
        opacity: 1;
    }
}

.socialmedia i {
    padding-right: 30px;
    color: rgb(255, 185, 0);
}

.socialmedia i:hover {
    color: white;
}

/* Intro */

.intro h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 30px 0;
    color: rgb(80, 80, 80);
    padding-left: 20px;
    padding-right: 20px;
}

.intro ul {
    justify-content: center;
    display: flex;
    margin: 30px 0;
}

.intro li {
    background: linear-gradient(90deg, rgb(255, 185, 0)120px, rgb(255, 230, 0));
    list-style: none;
    margin: 0 60px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 52px;
    border-radius: 15px;
}

.intro li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    display: block;
}

.intro li:hover a {
    background-color: white;
    color: rgb(255, 185, 0);
    border-color: linear-gradient(90deg, rgb(255, 185, 0)120px, rgb(255, 230, 0));
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}

/* About Me */
div.firstrect {
    background: #FAFAFF;
    width: 68%;
    height: 430px;
}

.aboutme {
    position: relative;
    height: 430px;
}

.aboutme h1 {
    position: absolute;
    left: 150px;
    top: 20px;
}

article h1 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.02px;
}

section.main {
    position: absolute;
    top: 70px;
    left: 7%;
    right: 7%;
    bottom: 70px;
    background-color: white;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
}

.about-inside {
    position: absolute;
    left: 16%;
    display: flex;
}

.profile {
    border-radius: 180px;
    width: 10%;
    position: absolute;
    top: 35px;
    left: 3%;
}


.information {
    padding: 10px 20px 10px 0;
    font-weight: 700;
    letter-spacing: 0.02px;
    font-size: 18px;
    border-right: 3px dotted rgb(255, 185, 0);
    margin: 40px 0;
    line-height: 35px;
    width: 35%;
    box-sizing: border-box;

}

.information p span {
    color: rgb(255, 185, 0);

}

.description {
    margin: 40px 0;
    padding: 10px 50px 10px 20px;
    font-size: 18px;
    line-height: 25px;
    width: 65%;
}

/* Skills */
.skills {
    position: relative;
    height: 430px;
}

.secondrect {
    position: absolute;
    background: #FAFAFF;
    width: 68%;
    height: 430px;
    right: 0;

}

.secondrect h1 {
    position: absolute;
    left: 150px;
    top: 20px;
}

.skills section {
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.skills section div {
    text-align: center;
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px 0;
}

.skills section div h1 {
    font-size: 24px;
    line-height: 30px;
    color: rgb(255, 185, 0);
}

.skills section div h2 {
    font-weight: normal;
}

.skills section div:nth-of-type(2) {
    border-right: 3px dotted rgb(255, 185, 0);
    border-left: 3px dotted rgb(255, 185, 0);
    padding-left: 10px;
    padding-right: 10px;
}

.skills i {
    font-size: 70px;
    line-height: 120px;
    font-weight: bold;
}

/* Portfolio */
div.galery {
    display: flex;
    width: 100%;
    height: 660px;
    flex-wrap: wrap;
}

.galery div.photo:nth-child(1) {
    width: 35%;
    height: 50%;
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%), url("img/donut-3723751_1920.jpg");
    background-size: cover;
}

.galery div.photo:nth-child(2) {
    width: 30%;
    height: 50%;
    background-image: url("img/croissants-569075_1920.jpg");
    background-size: cover;
}

.galery div.photo:nth-child(3) {
    width: 35%;
    height: 50%;
    background-image: url("img/office-820390_1920.jpg");
    background-size: cover;
}

.galery div.photo:nth-child(4) {
    width: 30%;
    height: 50%;
    background-image: url("img/cat-1045782_1920.jpg");
    background-size: cover;
}

.galery div.photo:nth-child(5) {
    width: 70%;
    height: 50%;
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%), url("img/living-room-2037945_1920.jpg");
    background-position: center;
}

.portfolio h1 {
    padding: 20px;
}

.portfolio {
    margin: 20px 0 60px 0;
    text-align: center;
}

.galery {
    color: white;
    text-align: start;
}

.galery h1 {
    font-size: 48px;
    padding: 0;
    padding-bottom: 10px;
    line-height: 49px;

}

.galery h2 {
    font-size: 16px;
    line-height: 19p;
}

.photo div {
    padding: 20px;
}

button {
    background: linear-gradient(90deg, rgb(255, 185, 0)45px, rgb(255, 230, 0));
    text-align: center;
    font-size: 18px;
    line-height: 52px;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 10px 20px;
    line-height: 21px;
    margin-top: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

button:hover {
    background: white;
    color: rgb(255, 185, 0);
    border-color: linear-gradient(90deg, rgb(255, 185, 0)45px, rgb(255, 230, 0));
    border-style: solid;
    border-width: 2px;
}

/* Contact */
article.contact {
    background: #FAFAFF;
    height: 785px;
}

article.contact h1 {
    padding: 20px 140px;
}

div.container {
    display: flex;
    justify-content: center;

}

section.info {
    background-color: rgb(255, 185, 0);
    width: 36%;
    height: 620px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

section.form {
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    height: 620px;
    width: 50.7%;
}

.info div .fa-envelope {
    color: white;
    font-size: 70px;
    transform: rotate(330deg);
    padding: 10px 10px 35px 10px;
}

.info p {
    font-size: 18px;
    color: white;
    line-height: 28px;
    letter-spacing: 1px;
    padding-right: 40px;
}


.info div i {
    padding-right: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
}

.info h3 {
    color: white;
    font-size: 24px;
    padding: 0;
    margin: 0;
    line-height: 28px;
    letter-spacing: 1px;
}

.info {
    position: relative;
}

.info div:nth-child(1) {
    position: absolute;
    top: 40px;
    left: 40px;
}

.info div:nth-child(2) {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.rect {
    height: 32px;
    width: 32px;
    transform: rotate(45deg);
    background-color: rgb(255, 185, 0);
    position: absolute;
    right: -16px;
    z-index: 5;
    top: 40px;
}

.form {
    position: relative;

}

.container .form h1 {
    padding: 40px 8%;
}


.form button {
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.form div {
    width: 100%;
    text-align: center;
}

input {
    border-radius: 15px;
    background: #FAFAFF;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    padding: 15px;
    font-family: arial;
    width: 80%;
}

textarea {
    border-radius: 15px;
    background: #FAFAFF;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
    padding: 15px;
    font-family: arial;
    border: none;
    width: 80%;
}

input:nth-child(1) {
    border-bottom: 0;
    border-right: 0;
}

form+form input {
    border: none;
}

form:nth-child(4) input {
    height: 100px;
}

/* footer */

footer {
    padding: 30px;
    text-align: center;
    font-family: arial;
    letter-spacing: 0.2px;
    color: rgb(150, 150, 150);
}